/* login */

#lightBox{
  width: 100%;
  height:100%;
  position: fixed;
  z-index:99;
  top: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background:rgba(66,66,66,.6);

}

.loginCard{
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    padding: 20px;
    background-color: #F3ECE3; 
    position: relative;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginCard h2 {
  font-size: 2rem;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}



.loginCard .close{
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
}


.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #714B23;
}

.input-group input {
  width: 100%;
  height:40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px;
  /* position: relative; */
}

/* .icon-group {
  position: absolute;
  right: 10px;
  bottom: 0;
} */

.forget-password{
  display: flex;
  justify-content: end;
}

.forget-password p{
  color: black;
}

.forget-password a{
  text-decoration: none;
}

button.login-submit {
  width: 100%;
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 8px;
  background-color: #714B23;
  color: white;
  cursor: pointer;

}

.other-login h3{
  text-align: center;
  padding: 20px;
}

.social-web{
  display: flex;
  justify-content: center;
  gap: 8%;
}

.social-web img{
  width: 40px;
  height: 40px;
}

.register{
  display: flex;
  justify-content: center;
  padding: 15px;
  /* gap: 5%; */
}


.registerLink{
  padding: 5px 20px;
  border-radius: 8px;
  background-color: #714B23;
  color: white;
  cursor: pointer;
  text-decoration: none;

}

