/* 登入表單樣式 */
.login-section{
    background-image: url("https://i.pinimg.com/564x/c4/5e/08/c45e08f0f6aab94dcc60eef4e5d79df5.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: 80px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    width: 300px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.login-form h2 {
    font-size: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #714B23;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.name a{
    text-decoration: none;
    font-size: 12px;
    color: #714B23;
}

.name{
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    width:0;
    height:16px;
    border-right: 1px solid #714B23;
    margin: 0 10px;
}

button {
    width: 100%;
    padding: 15px 10px 10px 10px;
    border: none;
    border-radius: 3px;
    background-color: #714B23;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}