/* 最新消息 */

.section-news{
    background-color: rgb(235, 198, 154, 0.2);
}

.banner{
  position: relative;
}

.pic-banner{
    height: 50vh;
    margin: auto;
    padding-top: 30px;
    margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .pic-banner{
     height: 55vh;
     margin: auto;
     padding-top: 30px;
     margin-top: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .pic-banner{
     height: 60vh;
     margin: auto;
     padding-top: 30px;
     margin-top: 50px;
  }
}

  .pic-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 10%;
  }

  

   .pic-banner h1{
        display: block;
        position: absolute;
        /* right: 70px;
        top: 220px; */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        letter-spacing: 3px;
        font-size: 40px;
        line-height: 1.4em;
        font-weight: bold;
    
    }
  
.category-news{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10%;
    margin: auto;
    gap: 5%;
  }

  .category-news .news-tab:hover {
    background-color: #714B23;
    color: #fff;
  }
  


@media screen and (min-width: 768px) {
 .category-news{
    padding: 8%;
    /* padding-left:31%; */
 }

}

.news-tab{
  width: 30%;
  height: 45px;
  cursor: pointer;
  text-align: center;
  color: #714B23;
  background-color: white;
  border: 1px solid #CEAE92;
  border-radius: 20px;
}


@media screen and (min-width: 768px) {
  .news-tab{
    width: 135px; 

  }
}

.news-tab h3{
  position: relative;
  top: 50%;  
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .news-tab h3{
    font-size: 20px;
    }
  }

  .news-tab.active{
     color: white;
     background-color: #714B23;
     border: 1px solid #CEAE92;
}



  .news-card-list {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 30px;
    padding-bottom: 10%;
 }

  @media screen and (min-width: 768px) {
  .news-card-list {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 30px;
    padding-bottom: 5%;
 }
}

@media screen and (min-width: 1024px) {
  .news-card-list {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 30px;
    padding-bottom: 5%;
 }
}

@media screen and (min-width: 1280px) {
  .news-card-list {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 30px;
    padding-bottom: 5%;
 }
}

.news-card{
    width: 100%;
    /* width: 550px; */
    /* margin: 10px; */
    color: black;
    line-height: 2em;
    /* display: flex; */
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
    border-radius: 20px; 
    /* flex: 0 0 calc(100% - 15px); */
 }

@media screen and (min-width: 768px) {
 .news-card{
    /* width: 550px; */
    /* margin: 10px; */
    color: black;
    line-height: 2em;
    display: flex;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
    border-radius: 20px; 
    flex: 0 0 calc(100% - 15px);
 }
}

@media screen and (min-width: 1024px) {
    .news-card{
       color: black;
       line-height: 2em;
       display: flex;
       box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
       border-radius: 20px; 
       flex: 0 0 calc(100% - 15px);
    }
   }

   @media screen and (min-width: 1280px) {
    .news-card{
       color: black;
       line-height: 2em;
       display: flex;
       box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
       border-radius: 20px; 
       flex: 0 0 calc(50% - 15px);
    }
   }

.news-pic{
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
 }

@media screen and (min-width: 768px) {
 .news-pic{
    width: 260px;
    height: 250px;
    overflow: hidden;
    border-radius: 20px 0 0 20px;
 }
}
 
 .news-pic img{
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1;
    transition: .5s;
 }

 
.news-card:hover .news-pic img {
    scale: 1.1;
}

.news-info{
    /* height: 250px; */
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0 0 20px 20px;
  }


@media screen and (min-width: 768px) {
 .news-info{
    width: 260px;
    height: 250px;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0 20px 20px 0;
  }
}



.news-info .news-text {
    flex-grow: 1;
}

.news-title{
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 20px;
}


.pagination {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .pagination a {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #fff;
    color: #714B23;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .pagination a:hover {
    background-color: #714B23;
    color: #fff;
  }
  
  .pagination a.active {
    background-color: #714B23;
    color: #fff;
  }