/*商品介紹*/
.section-product{
    background-image: url("https://i.pinimg.com/564x/c4/5e/08/c45e08f0f6aab94dcc60eef4e5d79df5.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.pic-banner{
    width: 100%;
    height: 50vh;
    text-align: center;
}

.pic-banner img{
   width: 100%;
   height: 100%;
   object-fit: cover; /* 確保圖片填滿容器 */
}

.pic-banner h1{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    letter-spacing: 3px;
    font-size: 40px;
    line-height: 1.4em;
    font-weight: bold;

}

.title-product {
    text-align: center;
    padding: 40px 0px 50px 0px;
    font-size: 40px; 
    color: #714B23;
}

.category-product{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 30px 60px 0px;
    gap: 30px;
}

.product-tab.active{
    width: 180px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: #714B23;
    border: 1px solid #714B23;
    border-radius: 5px;
  }

  .product-tab.active h3{
    position: relative;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }

  .product-tab{
    width: 180px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    color: #714B23;
    background-color: white;
    border: 1px solid #CEAE92;
    border-radius: 5px;
  }

  .product-tab h3{
    position: relative;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }

  .product-title{
    width: 1200px;
    text-align: center;
    margin: auto;
    padding: 20px 0px 0px 20px;
    /* border-bottom: 1px solid #714B23; */
  }

  
  .product-card-list {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
    /* padding-bottom: 80px; */
}


.product-card{
    width: 250px;
    margin: 10px;
    color: black;
    /* border: 1px solid #B7997A; */
    border-radius: 20px; 
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.5s;
    background-color: white;

}

.product-card:hover {
    transform: translateY(-20px); /* 懸停時向上移動 */
}


.product-btn {
    display: none;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%); /* 確保圖標居中 */
    font-size: 30px; /* 增大圖標大小 */
    border-radius: 20px; /* 圓形圖標 */
    padding: 15px; /* 圖標內邊距 */
    border: 1px solid white;
}

.shopping-cart{
    color: white;
}

.product-card:hover .product-btn {
    display: block;
}

.product-pic{
    /* width: 350px;
    height: 350px; */
    width: 250px;
    height: 250px;
    overflow: hidden;
    position: relative;

 }

 .product-pic .tag{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FF8033;
    color: white;
    padding: 2px 5px;
    font-size: 12px;
 }
 
 .product-pic img{
     width: 100%;
     border-radius: 20px 20px 0px 0px; 
     transition: filter 0.3s ease; /* 添加過渡效果 */
 }

 .product-card:hover  .product-pic img {
    filter: brightness(70%); /* 懸停時降低亮度 */
}
 
 .product-info{
     width: 250px;
 }

 .product-name{
    text-align: center;
    padding: 20px;
 }

 .product-name h3{
    color: #714B23;
    font-weight: bold;
    font-size: 20px;
 }


.product-title h2{
    font-size: 35px;
}

.tea{
    padding-bottom: 60px;
}