<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cafe</title>
    <!--Fontawesome ICON-->
    <script
      src="https://kit.fontawesome.com/4ce54b2072.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="./CSS/reset.css" />
    <link rel="stylesheet" href="./CSS/header.css" />
    <link rel="stylesheet" href="./CSS/Pickup-food-online.css" />
    <link rel="stylesheet" href="./CSS/login.css" />
    <link rel="stylesheet" href="./CSS/footer.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.31/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div id="lightBox" style="display: none">
        <div class="loginCard">
          <h2>會員登入</h2>
          <form action="">
            <label for="login" class="close">
              <img src="images/xmark-solid.svg" width="25px" height="25px" />
            </label>
            <div class="input-group">
              <!-- <span class="icon-group">
                <i class="fa-solid fa-envelope"></i>
             </span> -->
              <label for="username">帳號：</label>
              <input
                type="text"
                id="username"
                name="username"
                placeholder="請輸入電子郵件"
                required
              />
              <!-- <div class="icon-group">
              <i class="fa-solid fa-envelope"></i>
           </div> -->
            </div>

            <div class="input-group">
              <label for="password">密碼：</label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="請輸入密碼"
                required
              />
            </div>

            <div class="forget-password">
              <a href="#"><p>忘記密碼</p></a>
            </div>

            <button type="submit" class="login-submit">登入</button>

            <div class="other-login">
              <h3>或使用社群帳號登入</h3>
              <div class="social-web">
                <a href="#"><img src="images/facebook.png" /></a>
                <a href="#"><img src="images/google.png" /></a>
                <a href="#"><img src="images/line.png" /></a>
              </div>
            </div>

            <div class="register">
              <p>還沒有帳號嗎? <a href="#" class="registerLink">立即註冊</a></p>
              <!-- <a href="#" class="registerLink">立即註冊</a> -->
            </div>
          </form>
        </div>
      </div>

      <!-- header區域 -->
      <header class="header">
        <nav class="nav-header">
          <div class="nav-container">
            <ul class="nav">
              <li><a href="./news.html">最新消息</a></li>
              <li class="product-dropdown">
                <a href="./product-desciption.html">商品介紹</a>
                <ul class="dropdown-content">
                  <li><a href="./product-desciption.html">咖啡飲品</a></li>
                  <li><a href="./product-desciption.html">甜點</a></li>
                  <li><a href="./product-desciption.html">茶類飲品</a></li>
                </ul>
              </li>
              <li><a href="./store-locations.html">門市據點</a></li>
            </ul>

            <div class="logo">
              <a href="./index.html">
                <img
                  src="./images/logo-removebg-preview.png"
                  alt="logo"
                  width="150"
                  height="150"
                />
              </a>
            </div>

            <button id="btnHam" class="hb"></button>

            <nav id="menu" class="hb-nav hidden">
              <ul class="hb-list">
                <li><a href="./news.html">最新消息</a></li>
                <li class="product-dropdown">
                  <a href="./product-desciption.html">商品介紹</a>
                </li>
                <li><a href="./store-locations.html">門市據點</a></li>
                <li><a href="./about-us.html">關於我們</a></li>
                <li><a href="./contact-us.html">聯絡我們</a></li>
                <li><a href="./Pickup-food-online.html">線上點餐</a></li>
              </ul>
            </nav>

            <ul class="nav">
              <li><a href="./about-us.html">關於我們</a></li>
              <li><a href="./contact-us.html">聯絡我們</a></li>
              <li><a href="./Pickup-food-online.html">線上點餐</a></li>
            </ul>

            <div class="nav-icon">
              <a href="#" class="spanLogin" onclick="showLightBox()"
                ><i class="fas fa-user"></i
              ></a>
              <a href="#"><i class="fa fa-search"></i></a>
            </div>
          </div>
        </nav>
      </header>

      <!-- banner區 -->
      <div class="banner">
        <div class="container-banner">
          <div class="pic-banner">
            <img src="images/online.jpg" alt="banner" />
            <h1>線上點餐</h1>
          </div>
        </div>
      </div>

      <!-- 線上點餐 -->
      <section class="Pickup_food_online-section">
        <div class="online-container">
          <div class="online-form">
            <form action="#" method="get">
              <div class="form-group">
                <label for="name">店家:</label>
                <select name="name" id="name">
                  <option value="">台北西門店</option>
                  <option value="">台北信義店</option>
                  <option value="">台中一中店</option>
                  <option value="">台南南紡店</option>
                  <option value="">高雄左營店</option>
                  <option value="">花蓮玉里店</option>
                </select>
              </div>

              <div class="form-group">
                <label for="date">預計取餐日期:</label>
                <input type="date" name="date" id="date" />
              </div>

              <div class="form-group form-group-time">
                <label for="time">預計取餐時間:</label>
                <input
                  type="time"
                  name="time"
                  id="time"
                  min="06:00"
                  max="13:30"
                  value="06:00"
                  required
                />
              </div>
            </form>
          </div>
        </div>
      </section>

      <!-- 商品介紹 -->
      <section class="section-product">
        <div class="container-product">
          <div class="product-title">
            <h2>咖啡飲品</h2>
          </div>

          <div class="product-card-list">
            <div
              class="product-card"
              v-for="proditem in products.slice(0,6)"
              :key="proditem.id"
              @click="openLightbox(proditem)"
            >
              <div class="product-pic">
                <img :src="proditem.img" alt="商品圖片" />
                <div class="product-btn" id="cart-pic">
                  <a href="#" class="shopping-cart">
                    <i class="fas fa-shopping-cart"></i>
                  </a>
                </div>
              </div>
              <div class="product-info">
                <div class="product-name"><h3>{{ proditem.name }}</h3></div>
                <div class="product-pric">
                  <p>NT${{ proditem.price }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="product-title">
            <h2>甜點</h2>
          </div>

          <div class="product-card-list">
            <div
              class="product-card"
              v-for="proditem in products.slice(6,9)"
              :key="proditem.id"
              @click="openLightbox(proditem)"
            >
              <div class="product-pic">
                <img :src="proditem.img" alt="商品圖片" />
                <div class="product-btn" id="cart-pic">
                  <a href="#" class="shopping-cart">
                    <i class="fas fa-shopping-cart"></i>
                  </a>
                </div>
              </div>
              <div class="product-info">
                <div class="product-name"><h3>{{ proditem.name }}</h3></div>
                <div class="product-pric">
                  <p>NT${{ proditem.price }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="product-title">
            <h2>茶類飲品</h2>
          </div>

          <div class="product-card-list">
            <div
              class="product-card"
              v-for="proditem in products.slice(9,12)"
              :key="proditem.id"
              @click="openLightbox(proditem)"
            >
              <div class="product-pic">
                <img :src="proditem.img" alt="商品圖片" />
                <div class="product-btn" id="cart-pic">
                  <a href="#" class="shopping-cart">
                    <i class="fas fa-shopping-cart"></i>
                  </a>
                </div>
              </div>
              <div class="product-info">
                <div class="product-name"><h3>{{ proditem.name }}</h3></div>
                <div class="product-pric">
                  <p>NT${{ proditem.price }}</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>

      <!-- Lightbox -->

      <div id="lightbox_cart" v-if="showLightbox">
        <div class="order_cart">
          <i class="fa-solid fa-xmark" @click="closeLightbox"></i>
          <div class="img_cart">
            <img
              :src="selectedProduct.img_removebg"
              :alt="selectedProduct.name"
              style="max-height: 200px;
              object-fit: contain;"
            />
          </div>
          <div class="name_cart">
            <p class="font20px product_name">{{ selectedProduct.name }}</p>
            <div class="product_money" id="priceDisplay">NT$ {{ selectedProduct.price }}/M</div>
          </div>
          <label class="label_note" for="note">備註：</label>
          <br />
          <textarea
            name="note"
            id="note"
            cols="30"
            rows="10"
            placeholder="請問有什麼需求"
          ></textarea>
          <div class="down_cart">
            <div class="add_cart">
              <i class="fa-solid fa-minus" @click="reduce(selectedProduct)"></i>
               <input type="text" class="qty" v-model="selectedProduct.count" >
              <i class="fa-solid fa-plus" @click="add(selectedProduct)"></i>
            </div>
            <a class="btn_add btn_cart" @click="addCart(selectedProduct)">加入購物車</a>
          </div>
        </div> 
      </div>

      <div class="check-cart-bar" v-if="checkBar" @click="openCartlist">
       <button class="check-cart">
         <p>我的購物車</p>
         <span class="count-list"><span class="cart-count highlight">{{ cartCart }}</span>
       </button>
      </div>

      
<div id="lightbox-cartlist" class="lightbox-cartlist" v-if="cartlist">
  <div class="cartlist">
     <i class="fa-solid fa-xmark" @click="closeCartlist"></i>

     <ul class="cart-content" id="cart-items">
      <li class="cart_add" v-for="(item, index) in cartItems" :key="item.id">
        <p class="product">{{ item.name }}</p>
        <div class="add_cart">

          <i class="fa-solid fa-minus" @click="reduce(item)"></i>
          <input type="text" class="qty" v-model="item.count" >
         <i class="fa-solid fa-plus" @click="add(item)"></i>

        </div>
        <span class="money_li">NT$ {{ subPrice(index) }}</span>
        <i class="fa-trash-can fa-regular" @click="removeItem(item)"></i>

      </li>
     </ul>
     
       <p class="cart-pric">
         總金額:
         <span class="total-money">NT$ </span>
         <span class="total-pric" id="total">{{ totalPrice }}</span>
       </p>
     <div class="cart-btn">
       <a class="continue-ordering" @click="closeCartlist">繼續點餐</a>
       <a id="Payment" class="payment-checkout">付款結帳</a>
     </div>
  </div>
</div>

      <!-- footer 區域-->
      <footer class="footer">
        <div class="container-footer">
          <div class="content-footer">
            <div class="content1-footer">
              <ul class="footer-nav">
                <li><a href="#">活動訊息</a></li>
                <li><a href="#">聯絡我們</a></li>
                <li><a href="#">門市查詢</a></li>
              </ul>

              <div class="footer-logo">
                <a href="#">
                  <img
                    src="./images/logo-removebg-preview.png"
                    alt="logo"
                    width="150"
                    height="150"
                  />
                </a>
              </div>

              <ul class="footer-nav">
                <li><a href="#">人才招募</a></li>
                <li><a href="#">常見問題</a></li>
                <li><a href="#">關於我們</a></li>
              </ul>
            </div>

            <div class="content2-footer">
              <div class="icon-footer">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
              </div>
              <div class="source">
                <a href="./source.html">
                  <p>資料來源</p>
                </a>
              </div>
            </div>

            <div class="copyright">
              <p class="chinese">
                本網站為緯育TibaMe前端工程師班第xx期學員專題作品，本平台僅供學習、展示之用。
              </p>
            </div>
          </div>

          <div class="to-top">
            <a href="#">
              <i class="fa-solid fa-angle-up"></i>
            </a>
          </div>
        </div>
      </footer>

      <!-- footer-app 區域-->
      <footer class="footer-app">
        <div class="container-footer-app">
          <div class="content-footer-app">
            <div class="content1-footer-app">
              <div class="footer-logo">
                <a href="#">
                  <img
                    src="./images/logo-removebg-preview.png"
                    alt="logo"
                    width="150"
                    height="150"
                  />
                </a>
              </div>

              <ul class="footer-nav">
                <li><a href="#">活動訊息</a></li>
                <li><a href="#">聯絡我們</a></li>
                <li><a href="#">門市查詢</a></li>
                <li><a href="#">人才招募</a></li>
                <li><a href="#">常見問題</a></li>
                <li><a href="#">關於我們</a></li>
              </ul>
            </div>
          </div>

          <div class="content2-footer-app">
            <div class="icon-footer">
              <a href="#"><i class="fa-brands fa-facebook"></i></a>
              <a href="#"><i class="fa-brands fa-youtube"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <div class="source">
              <a href="./source.html">
                <p>資料來源</p>
              </a>
            </div>
          </div>

          <div class="copyright-app">
            <p>
              本網站為緯育TibaMe前端工程師班第xx期學員專題作品，本平台僅供學習、展示之用。
            </p>
          </div>

          <div class="to-top">
            <a href="#">
              <i class="fa-solid fa-angle-up"></i>
            </a>
          </div>
        </div>
      </footer>
    </div>
    <script src="./js/hamburger_menu.js"></script>  
    <script src="./js/login.js"></script>
    <script src="./js/addcart.js"></script>
  </body>
</html>
